:root {
    --primary: #6d28d9;
    /* Roxo vibrante */
    --secondary: #f59e0b;
    /* Dourado */
    --text: #ffffff;
    --bg-dark: #0f172a;
    --glass: rgba(255, 255, 255, 0.1);
    --glass-border: rgba(255, 255, 255, 0.2);
}


/* ANIMATIONS */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    .agenda-grid {
        grid-template-columns: 1fr;
    }
}

/* AJUSTE PARA CELULAR (Telas menores que 600px) */
@media (max-width: 600px) {
    .birthday-list {
        grid-template-columns: 1fr;
        /* Uma coluna só para não apertar o texto */
    }

    .birthday-section {
        padding: 20px 15px;
        width: 90%;
        /* Margem lateral maior no celular */
    }

    .birthday-header h2 {
        font-size: 1.2rem;
        /* Título levemente menor no celular */
    }
}